body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

form {
    width: 30%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

ul, .helptext {
    display: none;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #ddd;
}

button[type="submit"] {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
}
